{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>코멘토일보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'economy_css.css' %}">
</head>
<body>
    {%include 'header.html'%}
    {%include 'nav.html'%}
    <footer>
        <p><a href="editorial.html">경제일반</a> | <a href="column.html">산업</a> | <a href="column.html">부동산</a>
            | <a href="column.html">금융</a> | <a href="column.html">IT</a></p>
    </footer>
    <hr id = "mainborder">
</body>
</html>