{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>코멘토일보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1><a href="/main/">코멘토일보</a></h1>
        <h2>회원가입</h2>
        <h3>로그인</h3>
    </header>
    <nav>
        <ul>
            <li><a href="/opinion/">오피니언</a></li>
            <li><a href="politics.html">정치</a></li>
            <li><a href="public.html">사회</a></li>
            <li><a href="economy.html">경제</a></li>
            <li><a href="sports.html">스포츠</a></li>
            <li><a href="entertainment.html">연예</a></li>
        </ul>
    </nav>
</body>
</html>