{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>코멘토일보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'opinion_1_css.css' %}">
</head>
<body>
    {%include 'header.html'%}
    {%include 'nav.html'%}
    <footer id="category_opinion">
        <p><a href="/opinion_1/">사설</a> | <a href="/opinion_2/">칼럼</a></p>
    </footer>
    <hr id = "mainborder">
    <nav id = "sub_nav">
        <ul id "sub_nav_ul">
            <li><a>오피니언</a></li>
            <li><a>></a></li>
            <li><a>사설</a></li>
        </ul> 
    </nav>
    {%include 'article.html'%}
    <script>
        // article1을 클릭하면 새로운 페이지로 이동하는 함수
        document.querySelector('.article1').addEventListener('click', function() {
            window.location.href = '/opinion_1_article1/'; // 이동할 페이지 URL을 여기에 입력하세요
        });
    </script>
</body>
</html>