{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>코멘토일보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'opinion_css.css' %}">
</head>
<body>
    {%include 'header.html'%}
    {%include 'nav.html'%}
    <footer id="category_opinion">
        <p><a href="/opinion_1/">사설</a> | <a href="/opinion_2/">칼럼</a></p>
    </footer>
    <hr id = "mainborder">
</body>
</html>