{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>코멘토일보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'politics_css.css' %}">
</head>
<body>
    {%include 'header.html'%}
    {%include 'nav.html'%}
    <footer>
        <p><a href="editorial.html">정치일반</a> | <a href="column.html">국방</a> | <a href="column.html">외교</a></p>
    </footer>
    <hr id = "mainborder">
</body>
</html>