{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>코멘토일보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public_css.css' %}">
</head>
<body>
    {%include 'header.html'%}
    {%include 'nav.html'%}
    <footer>
        <p><a href="editorial.html">사회일반</a> | <a href="column.html">교육</a> | <a href="column.html">보건/질병</a> 
            | <a href="column.html">환경</a> | <a href="column.html">복지</a> | <a href="column.html">사건/사고</a></p>
    </footer>
    <hr id = "mainborder">
</body>
</html>